USE [master]
GO
/****** Object:  Database [KocaYusuf_Makine]    Script Date: 12.09.2026 16:03:48 ******/
CREATE DATABASE [KocaYusuf_Makine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KocaYusuf_Makine', FILENAME = N'C:\Users\emirh\KocaYusuf_Makine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KocaYusuf_Makine_log', FILENAME = N'C:\Users\emirh\KocaYusuf_Makine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KocaYusuf_Makine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KocaYusuf_Makine]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12.09.2026 16:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alarmlar]    Script Date: 12.09.2026 16:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarmlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MakineID] [int] NULL,
	[AlarmMesaji] [nvarchar](255) NOT NULL,
	[BaslangicZamani] [datetime] NULL,
	[BitisZamani] [datetime] NULL,
	[SureDakika] [int] NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IletisimMesajlari]    Script Date: 12.09.2026 16:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IletisimMesajlari](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](max) NOT NULL,
	[Mesaj] [nvarchar](1000) NOT NULL,
	[GonderimZamani] [datetime2](7) NOT NULL,
	[OkunduMu] [bit] NOT NULL,
 CONSTRAINT [PK_IletisimMesajlari] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makineler]    Script Date: 12.09.2026 16:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makineler](
	[ID] [int] NOT NULL,
	[MakineAdi] [nvarchar](100) NOT NULL,
	[MakineNo] [nvarchar](50) NULL,
	[Durum] [nvarchar](20) NULL,
 CONSTRAINT [PK__Makinele__3214EC274C744E12] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MakineVerileri]    Script Date: 12.09.2026 16:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MakineVerileri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MakineID] [int] NULL,
	[KayitZamani] [datetime2](7) NULL,
	[HidrolikBasinc] [float] NULL,
	[AnaHavaBasinci] [float] NULL,
	[AraHavaBasinci] [float] NULL,
	[BalonSicakligi] [float] NULL,
	[PresSicakligi] [float] NULL,
	[GenelDurum] [int] NULL,
	[UretimAdedi] [int] NULL,
	[DT110_HidrolikBasincHMI] [float] NULL,
	[DT112_AnaHavaBasinciHMI] [float] NULL,
	[DT212_AraHavaBasinciHMI] [float] NULL,
	[R5_MakineCalisiyor] [bit] NULL,
	[R7_MakineHazir] [bit] NULL,
	[R16_CevrimAktif] [bit] NULL,
	[R36_CevrimTamamlandi] [bit] NULL,
	[R32_GenelHata] [bit] NULL,
	[R98_AcilStopHafizasi] [bit] NULL,
	[R9D_OranFazla] [bit] NULL,
	[R9E_GenelHata2] [bit] NULL,
	[X0_StartButonu] [bit] NULL,
	[X1_StopButonu] [bit] NULL,
	[X2_HazirSwitch] [bit] NULL,
	[X4_AcilStop] [bit] NULL,
	[X6_SonSwitch] [bit] NULL,
	[X8_YagMotoruTermik] [bit] NULL,
	[X9_BasincMotoruTermik] [bit] NULL,
	[XA_VakumMotoruTermik] [bit] NULL,
	[X60_Vakostat] [bit] NULL,
	[Y1_HidrolikBasincMotoru] [bit] NULL,
	[Y60_VakumPompasi] [bit] NULL,
	[Y61_YagSirkulasyonPompasi] [bit] NULL,
	[Y62_YagIsitici] [bit] NULL,
	[Y63_HavaIsitici] [bit] NULL,
	[Y2_SolenoidValfS1] [bit] NULL,
	[Y3_SolenoidValfS2] [bit] NULL,
	[Y4_SolenoidValfS3] [bit] NULL,
	[YC_SolenoidValfS11] [bit] NULL,
	[YD_SolenoidValfS12] [bit] NULL,
	[YE_SolenoidValfS13] [bit] NULL,
	[YF_SolenoidValfS14] [bit] NULL,
	[Y64_SolenoidValfS16] [bit] NULL,
	[GenelDurumKodu] [int] NULL,
	[DT1000_HidrolikRaw] [float] NULL,
	[DT1001_HavaRaw] [float] NULL,
	[DT1002_AraHavaRaw] [float] NULL,
	[DT32538_PresSicaklikSet] [float] NULL,
	[DT32539_PresSicaklikHisterezis] [float] NULL,
	[DT60_IstenenHMIMesaji] [int] NULL,
	[DT61_MevcutHMISayfasi] [int] NULL,
	[R135_TermikAtti] [bit] NULL,
	[R2485_CalismaTipi1] [bit] NULL,
	[R2486_CalismaTipi2] [bit] NULL,
	[R2487_CalismaTipi3] [bit] NULL,
	[R248A_ProsesSarti] [bit] NULL,
	[R300_ManuelMod] [bit] NULL,
	[R301_OtomatikMod] [bit] NULL,
	[DT5000_VeriYapisiVersiyonu] [int] NULL,
	[DT5001_MakineDurumu] [int] NULL,
	[DT5002_ManuelOtomatik] [int] NULL,
	[DT5003_AktifIslemAdimi] [int] NULL,
	[DT5010_SonCevrimSuresi] [int] NULL,
	[DT5011_AktifAlarmKodu] [int] NULL,
	[DT5012_AlarmBitMaskesi1] [int] NULL,
	[DT5013_AlarmBitMaskesi2] [int] NULL,
	[DT5014_PLCHeartbeat] [int] NULL,
	[DT5015_ProgramVersiyonu] [int] NULL,
 CONSTRAINT [PK__MakineVe__3214EC27A53891AC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Alarmlar_MakineID]    Script Date: 12.09.2026 16:03:48 ******/
CREATE NONCLUSTERED INDEX [IX_Alarmlar_MakineID] ON [dbo].[Alarmlar]
(
	[MakineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MakineVerileri_MakineID]    Script Date: 12.09.2026 16:03:48 ******/
CREATE NONCLUSTERED INDEX [IX_MakineVerileri_MakineID] ON [dbo].[MakineVerileri]
(
	[MakineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alarmlar] ADD  DEFAULT (getdate()) FOR [BaslangicZamani]
GO
ALTER TABLE [dbo].[Alarmlar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Makineler] ADD  CONSTRAINT [DF__Makineler__Durum__02FC7413]  DEFAULT ('Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[Alarmlar]  WITH CHECK ADD  CONSTRAINT [FK__Alarmlar__Makine__09A971A2] FOREIGN KEY([MakineID])
REFERENCES [dbo].[Makineler] ([ID])
GO
ALTER TABLE [dbo].[Alarmlar] CHECK CONSTRAINT [FK__Alarmlar__Makine__09A971A2]
GO
ALTER TABLE [dbo].[MakineVerileri]  WITH CHECK ADD  CONSTRAINT [FK__MakineVer__Makin__05D8E0BE] FOREIGN KEY([MakineID])
REFERENCES [dbo].[Makineler] ([ID])
GO
ALTER TABLE [dbo].[MakineVerileri] CHECK CONSTRAINT [FK__MakineVer__Makin__05D8E0BE]
GO
USE [master]
GO
